<!-- templates/base.html -->
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EcoEnergy{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body class="container py-4" style="background-color: #faf5ff;">

    <!-- Barra de navegación -->
    <nav class="mb-4 pb-3 border-bottom d-flex gap-2" style="border-color: #e9d5ff !important;">
        <a class="btn text-white fw-medium shadow-sm" style="background-color: #7e22ce;" href="{% url 'dispositivos:inicio' %}">
            Inicio
        </a>
        <a class="btn text-white fw-medium shadow-sm" style="background-color: #6b21a8;" href="{% url 'dispositivos:catalogo' %}">
            Dispositivos
        </a>
        <a class="btn text-white fw-medium shadow-sm" style="background-color: #581c87;" href="{% url 'dispositivos:zonas' %}">
    Zonas
</a>
  
    </nav>

    <!-- Contenido dinámico -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% bootstrap_javascript %}
</body>
</html>